<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Debora's Page</title>
    <% content_for :title, "Debora's Page" %>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Area</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../admin.html">Back</a></li>
                    <% if current_user %> 
                        <li><%= link_to "Log out", admin_logout_path, method: "delete" %></li> 
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Debora's Page</h1>
                        <hr class="small">
                        <span class="subheading">Results</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>


    <!-- Main Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h3>Edad: </h3>
                    <p><%= @test_result.age %></p>
                    <hr/>
                    <h3>Género: </h3>
                    <p><%= @test_result.gender %></p>
                    <hr/>
                    <h3>Nivel de educación: </h3>
                    <p><%= @test_result.education %></p>
                    <hr/>
                    <h3>Ocupación: </h3>
                    <p><%= @test_result.occupation %></p>
                    <hr/>
                    <h3>Ciudad y país de nacimiento: </h3>
                    <p><%= @test_result.hometown %></p>
                    <hr/>
                    <h3>Si estás/estuviste en la universidad, ¿qué carrera estudias/ estudiaste?</h3>
                    <p><%= @test_result.foreign %></p>
                    <hr/>
                    <h2>Part I</h2>                    
                    <h3>(En el restaurante)</h3>
                    <p>— Tengo hambre. Me gustaría llamar al <b><%= @test_result.answer_1 %></b> y hacer el pedido, pero aún no decidí que quiero comer. </p>
                    <p>— Yo tampoco. Mi madre <b><%= @test_result.answer_2 %></b> a este restaurante la semana pasada y me dijo que <b><%= @test_result.answer_3 %></b> un plato muy <b><%= @test_result.answer_4 %></b>.</p>
                    <p>— ¿Vas a pedir el mismo plato que tu madre?</p>
                    <p>— No, porque el plato tiene pollo y soy vegetariana. Pero también me dijo que <b><%= @test_result.answer_5 %></b> un vaso de un <b><%= @test_result.answer_6 %></b> de una fruta brasileña y me gustaría probarlo.</p>
                    <hr/>
                    <h3>(En la panadería hablando de Pablo)</h3>
                    <p>— Mira, Pablo está sentado solo en aquella mesa. ¿Qué está haciendo? ¿<b><%= @test_result.answer_7 %></b> un puro? No sabía que fumaba.</p>
                    <p>— Sí. Me dijo que no está acostumbrado a fumar, pero está nervioso <b><%= @test_result.answer_8 %></b> y el puro lo ayuda a estar más <b><%= @test_result.answer_9 %></b>. Por eso, está <b><%= @test_result.answer_10 %></b> a fumar.</p>
                    <p>— ¿Y qué es eso que tiene en la otra mano? ¿<b><%= @test_result.answer_11 %></b> una cerveza a las 10:00 de la mañana? Dile a Pablo que aunque esté en un período <b><%= @test_result.answer_12 %></b>, debe cuidar su salud. No es bueno que empiece a fumar para olvidar los problemas. Después puede viciarse.</p>
                    <hr/>
                    <h3>(En la casa)</h3>
                    <p>— Estoy preocupada por tu hermano. Llegó a casa <b><%= @test_result.answer_13 %></b> y <b><%= @test_result.answer_14 %></b> dos plátanos mientras yo preparaba la cena. Después, <b><%= @test_result.answer_15 %></b> dos platos de pasta y ahora ya está durmiendo.</p>
                    <p>— Creo que está <b><%= @test_result.answer_16 %></b> la tele, mamá. José no duerme temprano. Voy a hablar con él y preguntarle si está todo bien.</p>
                    <p>(Unos minutos más tarde)</p>
                    <p>— No te preocupes, mamá. José sólo está muy <b><%= @test_result.answer_17 %></b> porque fue tan intenso su trabajo que no tuvo tiempo de comer. Además, se pasó 2 horas conduciendo porque había un gran <b><%= @test_result.answer_18 %></b> en la avenida principal.</p>
                    <hr/>
                    <h3>(En la recreación de la escuela)</h3>
                    <p>— <b><%= @test_result.answer_19 %></b>, aquél chico no quiso jugar con los <b><%= @test_result.answer_20 %></b>. <b><%= @test_result.answer_21 %></b> todo el lápiz de pintar al dibujar con fuerza algunos dibujos sin sentido y después no quiso comer nada. Yo <b><%= @test_result.answer_22 %></b> con él y <b><%= @test_result.answer_23 %></b> la mitad de un bocadillo.</p>
                    <p>— Así es Francisco. Él es muy <b><%= @test_result.answer_24 %></b>. Voy a llamar a su madre y decirle como se comporta su hijo aquí en la escuela.</p>
                    <hr/>
                    <h3>(En el teléfono)</h3>
                    <p>— ¿<b><%= @test_result.answer_25 %> </b>?</p>
                    <p>— Señora González, soy Fernanda. ¿María puede ponerse al teléfono?</p>
                    <p>— María está comiendo. <b><%= @test_result.answer_26 %></b> un plato de lasaña que hice hoy. Sé que te gusta la lasaña. ¿Quieres venir aquí y almorzar también?</p>
                    <p>—  Gracias, Señora González, pero ya almorcé. Por favor, dile a María que <b><%= @test_result.answer_27 %></b> la vuelvo a llamar. Quiero hablar con ella sobre una actividad de clase que estamos <b><%= @test_result.answer_28 %></b>.</p>
                    <p>— Voy a decirle que te llame cuando termine de almorzar. Ahora tengo que dejarte porque ese teléfono se descarga muy <b><%= @test_result.answer_29 %></b>. Parece que algo <b><%= @test_result.answer_30 %></b> la batería. Voy a decirle que te llame por el móvil. Un abrazo y ven pronto a hacernos una visita.</p>
                    <p>— Claro, Señora González. Un abrazo.</p>
                    <hr/>
                    <h3>(En la casa por la mañana)</h3>
                    <p>— Creo que tu hermana llegará tarde al <b><%= @test_result.answer_31 %></b> hoy.</p>
                    <p>— ¿Por qué?</p>
                    <p>— Porque ya son las 8:30 y aún <b><%= @test_result.answer_32 %></b> un pedazo de pan y un vaso de leche. Empieza a trabajar a las 9:00 y parece que <b><%= @test_result.answer_33 %></b> el pan porque lo está comiendo demasiado <b><%= @test_result.answer_34 %></b>.</p>
                    <p>— También llegaré tarde a la <b><%= @test_result.answer_35 %></b>. Mi clase empieza a las 8:00, pero me acabo de despertar. Estoy muy cansado porque <b><%= @test_result.answer_36 %></b> poco ayer.</p>
                    <hr/>
                    <h2> Part II </h2>
                    <h3>1. El cantante cantó canciones brasileñas.</h3>
                    <p><%= @test_result.radio_1[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_1 %> </p>
                    <hr/>
                    <h3>2. La chica lloró mucho.</h3>
                    <p><%= @test_result.radio_2[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_2 %> </p>
                    <hr/>           
                    <h3>3. Clara se ganó cinco millones de dólares.</h3>         
                    <p><%= @test_result.radio_3[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_3 %> </p>
                    <hr/>
                    <h3>4. Mi hermano lavó su uniforme porque ensució en el partido de fútbol.</h3>
                    <p><%= @test_result.radio_4[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_4 %> </p>
                    <hr/>
                    <h3>5. La cocinera cocinó tortillas ayer.</h3>
                    <p><%= @test_result.radio_5[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_5 %> </p>
                    <hr/>
                    <h3>6. El alumno estudió matemática.</h3>
                    <p><%= @test_result.radio_6[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_6 %> </p>
                    <hr/>
                    <h3>7. Miguel se vio el pájaro que compré.</h3>
                    <p><%= @test_result.radio_7[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_7 %> </p>
                    <hr/>
                    <h3>8. La semana pasada mi madre fue a me buscar a la escuela.</h3>
                    <p><%= @test_result.radio_8[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_8 %> </p>
                    <hr/>
                    <h3>9. Ella se cerró el cuaderno al terminar la clase.</h3>
                    <p><%= @test_result.radio_9[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_9 %> </p>
                    <hr/>
                    <h3>10. El zapato ensució entero.</h3>
                    <p><%= @test_result.radio_10[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_10 %> </p>
                    <hr/>
                    <h3>11. El niño durmió temprano.</h3>
                    <p><%= @test_result.radio_11[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_11 %> </p>
                    <hr/>
                    <h3>12. Mercedes se abrió la ventana porque hacía calor.</h3>
                    <p><%= @test_result.radio_12[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_12 %> </p>
                    <hr/>
                    <h3>13. Atleta corrió dos kilómetros.</h3>
                    <p><%= @test_result.radio_13[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_13 %> </p>
                    <hr/>
                    <h3>14. Hoy mi abuela fue a me recoger a casa de mi prima.</h3>
                    <p><%= @test_result.radio_14[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_14 %> </p>
                    <hr/>
                    <h3>15. José se pasó el día con sueño.</h3>
                    <p><%= @test_result.radio_15[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_15 %> </p>
                    <hr/>
                    <h3>16. Fernanda ralló queso parmesano.</h3>
                    <p><%= @test_result.radio_16[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_16 %> </p>
                    <hr/>
                    <h3>17. El ladrón se estalló una granada contra la policía.</h3>
                    <p><%= @test_result.radio_17[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_17 %> </p>
                    <hr/>
                    <h3>18. Eduardo pintó paisajes del fondo del mar.</h3>
                    <p><%= @test_result.radio_18[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_18 %> </p>
                    <hr/>
                    <h3>19. Profesor dio la clase.</h3>
                    <p><%= @test_result.radio_19[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_19 %> </p>
                    <hr/>
                    <h3>20. María se creyó su propia mentira.</h3>
                    <p><%= @test_result.radio_20[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_20 %> </p>
                    <hr/>
                    <h3>21. La lámpara encendió sola.</h3>
                    <p><%= @test_result.radio_21[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_21 %> </p>
                    <hr/>
                    <h3>22. Rosa se supo el final de la película.</h3>
                    <p><%= @test_result.radio_22[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_22 %> </p>
                    <hr/>
                    <h3>23. El director escribió crónicas en el pasado.</h3>
                    <p><%= @test_result.radio_23[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_23 %> </p>
                    <hr/>
                    <h3>24. Albañil construyó una casa.</h3>
                    <p><%= @test_result.radio_24[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_24 %> </p>
                    <hr/>
                    <h3>25. Él se cruzó la línea de meta y ganó la competición.</h3>
                    <p><%= @test_result.radio_25[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_25 %> </p>
                    <hr/>
                    <h3>26. Mi madre nunca había comido langosta pero ayer probó.</h3>
                    <p><%= @test_result.radio_26[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_26 %> </p>
                    <hr/>
                    <h3>27. Juan se entendió todo el contenido de la prueba.</h3>
                    <p><%= @test_result.radio_27[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_27 %> </p>
                    <h3>28. Paulo dibujó con lápices de cera.</h3>
                    <p><%= @test_result.radio_28[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_28 %> </p>
                    <hr/>
                    <h3>29. El fuego apagó en un instante.</h3>
                    <p><%= @test_result.radio_29[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_29 %> </p>
                    <hr/>
                    <h3>30. Diego leyó cómics de "Mónica y su pandilla".</h3>
                    <p><%= @test_result.radio_30[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_30 %> </p>
                    <hr/>
                    <h3>31. Francisco se encontró la llave perdida.</h3>
                    <p><%= @test_result.radio_31[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_31 %> </p>
                    <hr/>
                    <h3>32. Yo quería comer un plato con gambas y Ana me preparó.</h3>
                    <p><%= @test_result.radio_32[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_32 %> </p>
                    <hr/>
                    <h3>33. Alberto montó rompecabezas difíciles.</h3>
                    <p><%= @test_result.radio_33[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_33 %> </p>
                    <hr/>
                    <h3>34. Matías se odió el libro que leyó.</h3>
                    <p><%= @test_result.radio_34[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_34 %> </p>
                    <hr/>
                    <h3>35. Ayer mi papá fue a me comprar un helado.</h3>
                    <p><%= @test_result.radio_35[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_35 %> </p>
                    <hr/>
                    <h3>36. Jaime preparó bocadillos esta tarde.</h3>
                    <p><%= @test_result.radio_36[16..22] %> </p>
                    <p><b>Corrección:</b> <%= @test_result.correction_36 %> </p>
                   </div>
            </div>
        </div>
    </article>


    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">Copyright &copy; Bioling 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="clean-blog.min.js"></script>

</body>

</html>
